LACB/Negocio/Web References/WSBodega/Ws_Bodega0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/justtime.wcf.limatco.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/justtime.wcf.limatco.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGuias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guias" nillable="true" type="tns:Guias" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuias" nillable="true" type="tns:ArrayOfGuias" />
  <xs:complexType name="Guias">
    <xs:sequence>
      <xs:element minOccurs="0" name="bodega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="cantidad_primaria" type="xs:decimal" />
      <xs:element minOccurs="0" name="cantidad_secundaria" type="xs:decimal" />
      <xs:element minOccurs="0" name="codigo_tecnico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion_documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion_producto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="doc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_registro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idbodega" type="xs:int" />
      <xs:element minOccurs="0" name="idcodigo" type="xs:long" />
      <xs:element minOccurs="0" name="iddocumento" type="xs:int" />
      <xs:element minOccurs="0" name="identidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idnumero" type="xs:long" />
      <xs:element minOccurs="0" name="idsucursal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linea" type="xs:int" />
      <xs:element minOccurs="0" name="numero" type="xs:long" />
      <xs:element minOccurs="0" name="razon_social" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rtu" type="xs:decimal" />
      <xs:element minOccurs="0" name="simbolo_bodega" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad_primaria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="unidad_secundaria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guias" nillable="true" type="tns:Guias" />
</xs:schema>